$main-gray-background: #fafafa;

// Primary palette
$marigold: #fec606;
$dark-seafoam: #1db67e;
$seafoam: #24BF85;
$blood-orange: #ff4500;
$flame-orange: #ff511c;
$faded-orange: #f1834f;
$orange: #d95929;
$tealish: #1dabb8;

// Secondary palette
$pure-white: #ffffff;
$bright-white: #fdfdfd;
$white: #dadada;
$black: #272624;
$greyish: #a5a095;
$grey: #4a4a4a;
$warm-grey: #928f8d;
$greyish-brown: #4a4138;
$greyish-brown-two: #665e4c;
$greyish-brown-three: #403a2f;
$greyish-brown-four: #726c60;
$slate: #272524;
$black: #2a2928;

// Temp
$navy-blue: #00003c;
$blue: #0073d1;
$blue-light: #007ade;
$highlighter-yellow: #f5ff42;
$sky-blue: #bce1f7;
$electrib-blue: #080cf1;
$cloud-blue: #eefcff;
$electric-blue: #0b0895;

$pale-pink: #fbe3e8;
$gray: #d5d5d5;
$gray-background: #f7f6f5;
$warm-gray: #707070;
$shady-lady: #979797;
